*{
    padding: 0%;
    margin: 0%;
    
}

header{
    padding: 15px ;
    margin: 15px auto;
    display: flex;
    gap: 30px;
    align-items: center;
    width: 90%;
}
.logo{

    padding: 15px;
}
.logo a{
    margin: 15px auto;
    font-size: 1em;
    text-decoration: none;
    color: black;
}
nav{
    width: 95%;
    
    padding: 5px;
}
nav ul{
    
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    list-style: none;
   
}
.l2{
    justify-content: center;
    text-decoration: none;
    
}
.l2 a{
    text-decoration: none;
    color: black;
}

.l3{
    padding-left: 200px;
    padding-right: 80px;
}
.l3 a{
    text-decoration: none;
    color: black;
}
.l1 a{
    color: rgb(124, 59, 59);
    text-decoration: none;
}
.millieu{
    border: 2px solid rgb(156, 156, 164);
    display: flex;
    padding: 15px;
    margin: 15px auto;
    width: 90%;
    border-radius: 15px;
}
.gauche1{
    margin-bottom: 70px;
    padding-top: 5%;
}